executing==2.1.0
pexpect==4.9.0
decorator==5.1.1
traitlets==5.14.3
nest-asyncio==1.6.0
ptyprocess==0.7.0
parso==0.8.4
jedi==0.19.2
jupyter_client==8.6.3
pyzmq==26.2.0
appnope==0.1.4
stack-data==0.6.3
jupyter_core==5.7.2
python-dateutil==2.9.0.post0
ipython==8.30.0
wcwidth==0.2.13
prompt_toolkit==3.0.48
comm==0.2.2
pure_eval==0.2.3
tornado==6.4.2
matplotlib-inline==0.1.7
platformdirs==4.3.6
ipykernel==6.29.5
debugpy==1.8.11
six==1.17.0
Pygments==2.18.0
flatbuffers==24.3.25
readabilipy==0.3.0
numexpr==2.10.2
shellingham==1.5.4
GPUtil==1.4.0
pypdf==5.2.0
chess==1.11.1
duckduckgo_search==8.0.2
PubChemPy==1.0.4
arrow==1.3.0
soundfile==0.12.1
strictyaml==1.7.3
async-lru==2.0.4
langchain-openai==0.2.12
rapidocr-onnxruntime==1.3.24
black==24.8.0
docling-parse==3.0.0
azure-mgmt-storage==22.1.1
coloredlogs==15.0.1
redis==5.2.1
primp==0.15.0
uri-template==1.3.0
Rtree==1.3.0
psycopg==3.2.5
ftfy==6.2.3
humanfriendly==10.0
rfc3339-validator==0.1.4
llama-index-utils-huggingface==0.3.0
hyperframe==6.0.1
emoji==2.14.1
multitasking==0.0.11
aiocache==0.12.3
pandas==2.2.3
biothings_client==0.4.1
lazy_loader==0.4
virtualenv==20.29.1
llama-index-llms-ollama==0.5.0
grpcio==1.67.1
tomli==2.2.1
msgspec==0.19.0
nbconvert==7.16.4
interegular==0.3.3
partial-json-parser==0.2.1.1.post5
fqdn==1.5.1
astor==0.8.1
python-tds==1.17.1
async-timeout==5.0.1
filelock==3.16.1
llama-index-node-parser-docling==0.3.0
idna==3.10
h2==4.1.0
fnllm==0.0.10
replicate==1.0.4
pyarrow==18.0.0
opentelemetry-instrumentation-django==0.51b0
msal-extensions==1.2.0
llama-index-embeddings-ollama==0.5.0
lm-format-enforcer==0.10.9
pyphen==0.17.2
llama-index-llms-openai-like==0.3.3
pydub==0.25.1
llama-index-llms-huggingface==0.4.1
pyasn1_modules==0.4.1
langchain-ollama==0.2.0
Markdown==3.7
ujson==5.10.0
distlib==0.3.9
smmap==5.0.1
fpdf2==2.8.2
scikit-learn==1.6.0
rank-bm25==0.2.2
python-bidi==0.6.3
azure-common==1.1.28
diskcache==5.6.3
multidict==6.1.0
langchain-community==0.3.7
olefile==0.47
azure-functions==1.21.3
prometheus_client==0.21.1
isoduration==20.11.0
pillow==11.1.0
curl_cffi==0.11.1
nltk==3.9.1
pybind11==2.13.6
llama-index-graph-stores-nebula==0.4.0
docx2txt==0.8
lxml==5.3.0
gensim==4.3.3
supafunc==0.9.3
llama-index-indices-managed-llama-cloud==0.6.3
importlib_resources==6.4.5
llama-index-legacy==0.9.48.post4
croniter==6.0.0
simple-websocket==1.1.0
gprofiler-official==1.0.0
langchain-core==0.3.34
GitPython==3.1.43
toml==0.10.2
python-telegram-bot==22.6
text-generation==0.7.0
nodeenv==1.10.0
llama-index-cli==0.4.0
fake-useragent==1.5.1
colbert-ai==0.2.21
bio==1.7.1
urllib3==2.2.3
ecdsa==0.19.0
overrides==7.7.0
airportsdata==20241001
psycopg2-binary==2.9.9
webencodings==0.5.1
colorama==0.4.6
tokenizers==0.21.0
causal-learn==0.1.3.8
zipp==3.21.0
typer==0.15.1
cfgv==3.5.0
umap-learn==0.5.7
pydeck==0.9.1
langchain-text-splitters==0.3.2
groq==0.20.0
qdrant-client==1.12.1
docling-core==2.12.1
agno==1.5.0
rich-toolkit==0.13.2
opentelemetry-exporter-otlp-proto-http==1.31.1
mygene==3.2.2
yfinance==0.2.61
python-docx==1.1.2
graspologic-native==1.2.1
pydantic==2.12.5
msgpack==1.1.0
llama-index-readers-docling==0.3.0
pycryptodome==3.21.0
python-json-logger==3.2.1
outlines==0.1.11
defusedxml==0.7.1
referencing==0.35.1
datashaper==0.0.49
google-generativeai==0.7.2
python-magic==0.4.27
github-copilot-sdk==0.1.0
pypdfium2==4.30.1
python-oxmsg==0.0.1
fastuuid==0.14.0
semchunk==2.2.2
requests==2.32.3
frozenlist==1.5.0
sglang==0.4.1.post3
llama-index-core==0.12.8
clarabel==0.9.0
openpyxl==3.1.5
readability-lxml==0.8.4.1
dnspython==2.7.0
distilabel==1.5.3
httpx-sse==0.4.0
tavily-python==0.5.1
azure-storage-file-share==12.20.1
autogenstudio==0.4.1.11
optimum==1.23.3
llama-index==0.12.5
azure-search-documents==11.5.2
imageio==2.36.1
shapely==2.0.6
nebula3-python==3.8.3
azure-ai-documentintelligence==1.0.0
aiolimiter==1.2.1
gitdb==4.0.11
beartype==0.18.5
fsspec==2024.9.0
blinker==1.9.0
cssselect2==0.8.0
soupsieve==2.6
ninja==1.11.1.3
postgrest==0.19.3
pylance==0.20.0
azure-mgmt-core==1.5.0
google-api-core==2.24.0
wrapt==1.17.0
llama-index-vector-stores-chroma==0.4.1
markdown-it-py==3.0.0
torchvision==0.20.1
pytest==8.3.4
bitsandbytes==0.42.0
puremagic==1.28
httpx==0.27.2
safetensors==0.4.5
seaborn==0.13.2
llama-index-embeddings-huggingface-api==0.3.0
mammoth==1.9.0
mypy-extensions==1.0.0
h11==0.14.0
networkx==3.4.2
fasttext==0.9.3
serpapi==0.1.5
logfire-api==3.9.0
mcp-server-fetch==2025.1.17
biopython==1.85
adal==1.2.7
minijinja==2.5.0
python-pptx==1.0.2
jupyter-console==6.6.3
msal==1.31.1
marko==2.1.2
opentelemetry-exporter-otlp-proto-common==1.31.1
joblib==1.4.2
et_xmlfile==2.0.0
typing-inspect==0.9.0
notebook==7.3.1
PyMuPDF==1.25.1
graphviz==0.20.3
git-python==1.0.3
pcodedmp==1.2.6
identify==2.6.16
colorclass==2.2.2
prometheus-fastapi-instrumentator==7.0.2
weasyprint==68.0
langchainhub==0.1.21
firecrawl-py==1.14.1
llama-index-readers-llama-parse==0.4.0
llama-index-readers-file==0.4.1
neo4j==5.27.0
openai==2.16.0
itsdangerous==2.2.0
google_search_results==2.4.2
pymdown-extensions==10.11.2
jupyter==1.1.1
patsy==1.0.1
tiktoken==0.9.0
markdownify==0.14.1
json_repair==0.30.3
pathvalidate==3.2.3
catalogue==2.0.10
http-exceptions==0.2.10
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-flask==0.51b0
iniconfig==2.0.0
rich==13.9.4
pynndescent==0.5.13
devtools==0.12.2
google-resumable-media==2.7.2
tqdm==4.67.1
uritemplate==4.1.1
google-auth-httplib2==0.2.0
future==1.0.0
tinyhtml5==2.0.0
diagrams==0.25.1
jupyterlab_widgets==3.0.13
faiss-cpu==1.9.0.post1
pandocfilters==1.5.1
pydot==3.0.3
Mako==1.3.8
pytest-timeout==2.4.0
hpack==4.0.0
narwhals==1.19.1
protobuf==5.29.3
fastjsonschema==2.21.1
opentelemetry-instrumentation-urllib3==0.51b0
nvidia-ml-py==12.560.30
milvus-model==0.2.12
chroma-hnswlib==0.7.6
jsonpatch==1.33
argparse==1.4.0
jsonpointer==3.0.0
mistral_common==1.5.2
mcp==1.4.1
zopfli==0.4.0
outlines_core==0.1.26
numpy==1.26.4
msoffcrypto-tool==5.4.2
gotrue==2.11.4
docstring_parser==0.16
aiohttp-cors==0.7.0
mistune==3.0.2
plotly==5.5.0
scipy==1.15.1
attrs==24.2.0
jupyter_server==2.15.0
lark==1.2.2
opentelemetry-instrumentation-urllib==0.51b0
opentelemetry-instrumentation-dbapi==0.51b0
numba==0.60.0
blake3==1.0.4
llama-index-agent-openai==0.4.0
dirtyjson==1.0.8
opentelemetry-exporter-prometheus==0.52b1
kubernetes==31.0.0
peewee-migrate==1.12.2
anthropic==0.49.0
certifi==2024.8.30
python-iso639==2024.10.22
cffi==1.17.1
streamlit-nested-layout==0.1.4
RTFDE==0.1.2
jsonschema==4.23.0
transformers==4.48.2
google-crc32c==1.6.0
pdfminer.six==20231228
msrest==0.7.1
pymssql==2.3.13
lancedb==0.17.0
nbformat==5.10.4
pyperclip==1.9.0
propcache==0.2.1
supabase==2.14.0
grpcio-status==1.62.3
pyasn1==0.6.1
logfire==3.9.0
huggingface-hub==0.28.1
argon2-cffi==23.1.0
s3transfer==0.10.4
python-engineio==4.11.2
qdldl==0.1.7.post4
scs==3.2.7
asttokens==2.4.1
cachetools==5.5.0
portalocker==2.10.1
scikit-image==0.25.0
youtube-transcript-api==0.6.3
PyJWT==2.10.1
asgiref==3.8.1
threadpoolctl==3.5.0
StrEnum==0.4.15
Events==0.5
dataclasses-json==0.6.7
pathspec==0.12.1
oauthlib==3.2.2
grpcio-tools==1.62.3
XlsxWriter==3.2.0
multiprocess==0.70.16
cvxpy==1.6.0
mcp-server-time==0.6.2
sentence-transformers==3.3.1
torchaudio==2.5.1
mpire==2.10.2
Werkzeug==3.1.3
langdetect==1.0.9
pyaml-env==1.2.1
azure-storage-file-datalake==12.18.1
llama-index-embeddings-azure-openai==0.3.0
kiwisolver==1.4.7
red-black-tree-mod==1.20
sse-starlette==2.2.1
argcomplete==3.6.1
google-api-python-client==2.159.0
accelerate==1.2.1
passlib==1.7.4
deepsearcher==0.0.1
azure-storage-blob==12.24.1
aiofiles==24.1.0
pgvector==0.3.5
pdfplumber==0.11.5
python-dotenv==1.0.1
xxhash==3.5.0
mistralai==1.2.5
isodate==0.7.2
milvus-lite==2.4.11
pyparsing==3.2.0
opentelemetry-instrumentation==0.48b0
vllm==0.7.3.dev10+g467a96a5.cpu
jmespath==1.0.1
regex==2024.11.6
lxml_html_clean==0.4.3
bidict==0.23.1
googleapis-common-protos==1.63.2
loguru==0.7.3
easygui==0.98.3
Send2Trash==1.8.3
uvicorn==0.30.6
llama-index-llms-groq==0.3.1
password-strength==0.0.3.post2
smolagents==1.8.0
llama-cloud==0.1.6
python-jose==3.3.0
jupyter-lsp==2.2.5
docling==2.14.0
opentelemetry-sdk==1.31.1
nbclient==0.10.2
bcrypt==4.2.0
ray==2.53.0
pydantic-settings==2.7.0
sniffio==1.3.1
Flask-Cors==5.0.0
llama-index-embeddings-openai==0.3.1
llama-index-vector-stores-postgres==0.4.1
faster-whisper==1.0.3
google-cloud-storage==2.19.0
jsonschema-specifications==2024.10.1
Protego==0.4.0
html2text==2024.2.26
ebcdic==1.1.1
matplotlib==3.10.0
SQLAlchemy==2.0.41
fastapi-cli==0.0.7
mdurl==0.1.2
cohere==5.14.0
einops==0.8.0
aiohttp==3.11.14
fastavro==1.10.0
textblob==0.19.0
llama-index-vector-stores-qdrant==0.4.1
mpmath==1.3.0
jupyterlab_pygments==0.3.0
pytest-asyncio==1.3.0
build==1.2.2.post1
types-requests==2.32.0.20241016
torch==2.5.1
pydash==8.0.5
pytz==2024.2
autogen-ext-mcp==0.2.2
py-spy==0.4.0
yarl==1.18.3
netifaces==0.10.6
jsonref==1.1.0
opentelemetry-instrumentation-psycopg2==0.51b0
unstructured-client==0.28.1
pynvml==12.0.0
Cython==0.29.37
rsa==4.9
langchain-chroma==0.2.1
Deprecated==1.2.15
toolhouse==1.3.1
autogen-agentchat==0.4.7
langfuse==2.44.0
widgetsnbextension==4.0.13
pdfminer==20191125
termcolor==2.5.0
cobble==0.1.4
azure-ai-inference==1.0.0b8
sqlmodel==0.0.22
sseclient==0.0.27
orjson==3.10.12
tzlocal==5.2
chardet==5.2.0
pydantic_core==2.41.5
python-multipart==0.0.18
autograd==1.7.0
opencensus-context==0.1.3
langchain-experimental==0.3.4
fast-pytorch-kmeans==0.2.0.1
RapidFuzz==3.11.0
html5lib==1.1
json5==0.10.0
docling-ibm-models==3.1.0
langchain-huggingface==0.1.2
striprtf==0.0.26
azure-monitor-opentelemetry==1.6.4
dummy-notebookutils==1.5.4
tenacity==8.5.0
psutil==5.9.8
typing_extensions==4.15.0
opentelemetry-util-http==0.48b0
babel==2.16.0
srsly==2.4.8
onnx==1.17.0
av==12.3.0
importlib_metadata==8.4.0
pydantic-ai==0.0.43
llama-index-question-gen-openai==0.3.0
griffe==1.6.2
easyocr==1.7.2
fastapi==0.115.12
jupyterlab_server==2.27.3
langgraph-checkpoint==2.0.12
markitdown==0.0.1a4
google-auth-oauthlib==1.2.1
botocore==1.35.99
docopt==0.6.2
oletools==0.60.2
webcolors==24.11.1
compressed_rtf==1.0.6
opencv-python-headless==4.10.0.84
httpcore==1.0.7
pyee==12.1.1
xlrd==2.0.1
anytree==2.12.1
pycparser==2.22
langgraph==0.2.70
nanobot-ai==0.1.3.post4
cycler==0.12.1
msrestazure==0.6.4.post1
llama-index-llms-replicate==0.4.0
websockets==14.1
ipywidgets==8.1.5
POT==0.9.5
Jinja2==3.1.6
opencensus==0.11.4
opencv-python==4.11.0.86
ctranslate2==4.5.0
hyppo==0.4.0
PyMySQL==1.1.1
pluggy==1.5.0
jiter==0.13.0
pooch==1.8.2
dill==0.3.8
mlx==0.21.1
watchfiles==1.0.3
pip==26.0.1
fixedint==0.1.6
tblib==3.0.0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-resource-detector-azure==0.1.5
statsmodels==0.14.4
pyxlsb==1.0.10
APScheduler==3.10.4
depyf==0.18.0
google-cloud-core==2.4.1
llama-index-graph-stores-neo4j==0.4.4
autogen-core==0.4.7
llama-index-llms-huggingface-api==0.3.0
opentelemetry-api==1.31.1
alembic==1.14.0
deprecation==2.1.0
distro==1.9.0
cloudpickle==3.1.1
deepsearch-glm==1.0.0
ruff==0.15.2
polars==1.17.1
starlette==0.46.1
playwright==1.50.0
jsonpath-python==1.0.6
unstructured==0.15.9
pydantic-ai-slim==0.0.43
llama-index-multi-modal-llms-openai==0.4.0
rfc3986-validator==0.1.1
opentelemetry-proto==1.31.1
onnxruntime==1.20.1
smart-open==7.1.0
mlx-lm==0.20.4
litellm==1.81.7
json-schema-to-pydantic==0.2.2
terminado==0.18.1
cryptography==44.0.0
RAGatouille==0.0.8.post4
pymongo==4.10.1
requests-toolbelt==1.0.0
contourpy==1.3.1
docker==7.1.0
httptools==0.6.4
Flask==3.1.0
osqp==0.6.7.post3
sympy==1.13.1
proto-plus==1.25.0
argon2-cffi-bindings==21.2.0
peewee==3.17.8
Chroma==0.2.0
pre_commit==4.5.1
packaging==26.0
brotli==1.2.0
py-cpuinfo==9.0.0
purviewcli==0.3.3
aiosignal==1.3.2
tinycss2==1.5.1
opensearch-py==2.7.1
pypandoc==1.13
PyYAML==6.0.2
sentry-sdk==2.56.0
setuptools==75.8.0
rpds-py==0.22.3
pymilvus==2.5.0
anyio==4.7.0
cdt==0.6.0
sentencepiece==0.2.0
azure-core==1.32.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
cssselect==1.4.0
email_validator==2.2.0
pydantic-graph==0.0.43
monotonic==1.6
pycountry==24.6.1
extract-msg==0.52.0
jupyter-events==0.11.0
compressed-tensors==0.9.1
charset-normalizer==3.4.0
backoff==2.2.1
storage3==0.11.3
pytube==15.0.0
opentelemetry-instrumentation-wsgi==0.51b0
skrebate==0.62
pyodbc==5.3.0
voyager==2.1.0
langgraph-sdk==0.1.51
Authlib==1.3.2
jupyterlab==4.3.4
filetype==1.2.0
opentelemetry-instrumentation-asgi==0.48b0
marshmallow==3.23.1
gguf==0.10.0
realtime==2.4.1
autogen-ext==0.4.7
peft==0.14.0
tzdata==2024.2
llama-index-llms-openai==0.3.10
environs==11.2.1
jupyter_server_terminals==0.5.3
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
pyproject_hooks==1.2.0
llama-index-program-openai==0.3.1
SpeechRecognition==3.14.1
pyclipper==1.3.0.post6
altair==5.5.0
watchdog==6.0.0
google-auth==2.37.0
beautifulsoup4==4.12.3
uvloop==0.21.0
aiohappyeyeballs==2.4.4
llama-parse==0.5.17
click==8.2.0
colorful==0.5.6
typing-inspection==0.4.2
reportlab==4.4.10
posthog==3.7.4
graspologic==3.4.1
frozendict==2.4.6
ollama==0.4.4
setproctitle==1.3.4
annotated-types==0.7.0
llama-index-llms-azure-openai==0.3.0
fonttools==4.61.1
azure-monitor-opentelemetry-exporter==1.0.0b33
httplib2==0.22.0
google-ai-generativelanguage==0.6.6
wsproto==1.2.0
PyPDF2==3.0.1
mmh3==5.0.1
datasets==3.2.0
asyncpg==0.30.0
eval_type_backport==0.2.2
streamlit==1.41.1
opentelemetry-semantic-conventions==0.52b1
azure-core-tracing-opentelemetry==1.0.0b11
azure-purview-datamap==1.0.0b2
ldap3==2.9.1
PyPika==0.48.9
tifffile==2024.12.12
chromadb==0.6.2
langsmith==0.1.147
requests-oauthlib==2.0.0
universal_pathlib==0.2.6
greenlet==3.1.1
pydyf==0.12.1
boto3==1.35.53
durationpy==0.9
validators==0.34.0
langchain==0.3.7
azure-ai-ml==1.24.0
pyflakes==3.2.0
graphrag==1.0.1
wandb==0.25.1
bitarray==3.0.0
llama-index-embeddings-huggingface==0.4.0
python-socketio==5.11.3
ty==0.0.18
azure-identity==1.19.0
jsonlines==3.1.0
tabulate==0.9.0
notebook_shim==0.2.4
autoflake==2.3.1
Kqlmagic==0.1.114.post26
prettytable==3.14.0
llvmlite==0.43.0
pytest-docker==3.1.1
websocket-client==1.8.0
MarkupSafe==3.0.2
